<!-- debut Menu -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><span class="glyphicon glyphicon-stats"></span> Suivi des taches</a>
        </div>
        {% if app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Réglages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Paramètres</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right">
                    <a href="{{ path('app_new_task') }}">
                        <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Ajouter une t&acirc;che</button>
                    </a>
                    <!--
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Ajouter une t&acirc;che</button>
                    -->
                </form>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_login') }}">
                        <button type="button" class="btn btn-primary btn-lg">Se connecter</button>
                    </a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">
                        <button type="button" class="btn btn-primary btn-lg">S'inscrire</button>
                    </a></li>
            </ul>
        {% endif %}
    </div>
</nav>
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter une t&acirc;che</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('app_new_task') }}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="nom de la tache" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="3" placeholder="Saisissez ici les informations que vous souhaitez" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status">
                            <option>ouvert</option>
                            <option>fermée</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fin Menu -->