{% extends '::base.html.twig' %}

{% block title %}
Affichage des taches
{% endblock %}

{% block content %}
    {% for colonne in colonnes %}
        <div class="col-md-3">
        <h2>{{ colonne.Name }} <span class="badge" title="nombre de tâches">{{ colonne.getCount }}</span></h2>
        {% for tache in colonne.getTasks %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tachemodify">
                        <a href="{{ path('app_modif_task',{'idtask': tache.id}) }}"><span class="glyphicon glyphicon-pencil" title="Modifier la t&acirc;che"></span></a>
                        <a href="{{ path('app_delete_task',{'idtask' : tache.id}) }}"><span class="glyphicon glyphicon-remove" title="Supprimer la t&acirc;che"></span></a>
                    </div>
                    <p>{{ tache.description }}</p>
                </div>
            </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Aucune t&acirc;che associ&eacute;e &agrave; cette colonne</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div>Aucune colonne</div>
    {% endfor %}

{% endblock %}
